<h3>Edit Question</h3>
<form action="/questions/<%= @question.id %>" method="post">
  <input name="_method" type="hidden" value="patch"/>
  <label for='title' class="block mar-b-1">Title: </label>
    <input id="title-input" type="text" name="question[title]" value="<%= @question.title %>" tabindex="1" class="block w-100 no-outline no-border pad-1 mar-b-2"><br>
  <label for='body' class="block mar-b-1">Body: </label>
    <textarea id="body-textarea" name="question[body]" tabindex="2" class="block w-100 h-10 no-resize no-outline no-border no-resize pad-1 mar-b-2"><%= @question.body %></textarea><br>
    <!-- <input type="text" name="question[body]" value="<%#= @question.body %>"><br> -->
  <input type="submit" name="commit" value="Update question" tabindex="3" class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline"/>
</form>
