<style>
  form { display: inline; }

  form input {
    background: none!important;
    border: none;
    padding: 0!important;
    font: inherit;
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
  }
</style>

<%= erb :'/questions/_questions.erb', layout: false, locals: { question: @question } %>

<a href='/'>Return Home</a>
