<h1> welcome to henry over flow!</h1>

<a href = '/login'>login</a>  <a href = '/register'>register</a>

<div class="home">
  <ul>
    <% @questions.each do |question| %>
    <li> <a class="home-questions" href = "/questions/<%=question.id%>"> <%= question.title %> </a></li>
    <% end %>
  </ul>
</div>

<p> Save 15% or more on car insurance by switching to Geico </p>

