<h1> welcome to henry over flow!</h1>

<a href = '/login'>login</a>  <a href = '/register'>register</a>


<ul>
  <% @questions.each do |question| %>
  <li> <a href = "/questions"> <%= question %> </a></li>
  <% end %>
</ul>

<p> Save 15% or more on car insurance by switching to Geico </p>

