<<<<<<< HEAD
<h1>Henry Overflow</h1>
<h2> Oh Henry... I have a question:</h2>
=======
<div id="home">
  <h1><center> Welcome to Henry Overflow </center></h1>
  <h3><center>Pick a Question:</center></h3>
>>>>>>> master

  <a class="log" href = '/login'><b>Login |</b></a>
  <a class="reg" href = '/register'><b>Register</b></a>

  <div class="home">
    <ul>
      <% @questions.each do |question| %>
        <li class="home-list">
          <a class="home-questions" href = "/questions/<%=question.id%>"> <%= question.body %> </a>
        </li>
      <% end %>
    </ul>
  </div>

  <p><center> <b>Only $15/month to subscribe to Henry Ultra!</b></center></p>
</div>
