<!-- <!DOCTYPE html>
<html lang="en">
<head>
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  <link rel="stylesheet" href="/css/normalize.css">

    application.css is where you put your styles

  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <%#= yield %>
</body>
</html>
 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Henry Overflow</title>
</head>
<body>
  <header role="banner" class="mar-t-5 pad-t-2 pad-b-4 pad-s-1 wrap-float bg-white">
    <div class="max-w-700 center wrap-float">
      <nav class="clearfix mar-b-1">
        <ul class="no-bullets no-margin no-padding right">
          <li class="pipe-separate t-light-green left"><a href="/">home</a></li>
        </ul>
      </nav>

      <div class="logo-container">
        <img class="logo" src="/images/logo.png" class="center block">
        <h1>Henry Overflow</h1>
      </div>
    </div>
  </header>

  <div class="bg-dk-green pad-t-2 pad-s-1 pad-b-8 mar-b-16 c-white">
    <div class="max-w-700 center">
      <%= yield %>
    </div>
  </div>
</body>
</html>
