<h> welcome to your henry_overflow profile page! </h>

<form action="/question" method="post">
<label for="question">ask a question</label>
<input type="text" name="question">
<input type="submit" value="submit">
</form>

<a href = '/logout'>logout</a>
