<h1>Please register!</h1>


<form action="/register" method="post">
    <label for="first_name">first_name</label>
    <input type="text" name="first_name">
    <label for="last_name">last_name</label>
    <input type="text" name="last_name">
    <label for="email_address">Email</label>
    <input type="text" name="email">
    <label for="full_name">Password</label>
    <input type="text" name="password">
    <input type="submit" value="Login">
</form>
